@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: $roboto;
}


#formWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    @media #{$xxl}{
       margin-top: 7%;
    }
    @media #{$xs}{
        margin-top: 15%;
     }
     @media #{$xs-mini}{
        margin-top: 5%;
     }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        padding-bottom: 30px;
        padding-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 20px;
        @media #{$xxl}{
            padding-top: 60px;
            padding-bottom: 50px;
            padding-left: 10px;
            padding-right: 10px;
         }
         @media #{$xs-mini}{
            padding-top: 30px;
            padding-left: 0px;
            padding-right: 0;
         }
        
        
        & .box-title{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            & i{
                font-size: 35px;
                margin-bottom: 10px;
                color: rgb(94, 137, 176);
                @media #{$xxl}{
                    font-size: 45px;
                 }
            }

            & h2{
                font-size: 20px;
                text-transform: uppercase;
                color: rgb(94, 137, 176);
                font-weight: 700;
                @media #{$xxl}{
                    font-size: 25px;
                 }
            }
            & h4{
                font-size: 13px;
                text-align: center;
                font-weight: 700;
                @media #{$xxl}{
                    font-size: 16px;
                 }
            }

        }

        & input {
            width: 300px;
            height: 30px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 30px;
            border-radius: 10px;
            border: none;
            background-color: rgb(92, 147, 218);
            font-size: 13px;
            padding-left: 10px;
            @media #{$xxl}{
                width: 350px;
                height: 35px;
             }

            &::placeholder{
                color: rgb(228, 223, 223) ;
            }
        }

        & button {
            width: 250px;
            height: 30px;
            color: #fff;
            border-radius: 30px;
            border: none;
            background-image: linear-gradient(to right, #4c92c4 0%, #3CD3AD  51%, #4CB8C4  100%);
            background-size: 200% auto;
            transition: 0.5s;
            display: block;
            box-shadow: 0px 0px 10px rgb(230, 230, 230);
            font-weight: 700;

            &:hover{
                background-position: right center;
                color: rgb(68, 66, 66);
                text-decoration: none;

            }

        }

        & .btn-grouping{
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            padding: 10px;
            @media #{$xxl}{
                margin-bottom: 30px;
             }
             @media #{$xs-mini}{
                padding: 0;
             }

            & button{
                width: 150px;
                height: 28px;
                border-radius: 7px;
                background: white;
                color: #000;
                display: flex;
                justify-content: space-evenly;
                align-items: baseline;
                font-size: 15px;
                border: 2px solid transparent ;
                @media #{$xxl}{
                    height: 32px;
                 }
                &:first-child{
                    margin-right: 10px;
                }
                @media #{$xs}{
                    margin-top: 20px;
                    width: 140px;
                    height: 26px;
                    font-size: 13px;
                 }
                @media #{$xs-mini}{
                    margin-top: 20px;
                    width: 130px;
                    font-size: 12px;
                    height: 25px;
                 }


            }

            .actived{
                background-image: linear-gradient(to right, #4c92c4 0%, #3CD3AD  51%, #4CB8C4  100%);
                transition: 0.5s linear;
                color: #fff;
                animation: ShadowActived infinite alternate 1.5s linear;
                border: 2px solid #fff;
            }

        }
        & .links-content{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 40px;
            padding: 10px;
            @media #{$xxl}{
                margin-top: 50px
             }
            & h5{
                font-size: 15px;
            }
            & .links-position{
                display: flex;
                justify-content: space-between;
                width: 100%;

                & a{
                    text-decoration: none;
                    color: #4a7c9f;
                    font-weight: 700;
                    font-size: 13px;

                    &:hover{
                        text-decoration: underline;
                        color: #2291e0;
                    }
                }
            }
        }
    }

}

