

.video-box{
    position: relative;
  
    & .overlay-bg{
        background: rgba(0,0,0, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        @media #{ $xs}{
            object-fit: contain;
            height: 100%;
            border-radius: 0px 0px 40px 40px;
            top: -2%
         }

         @media #{ $md, $sm}{
             top: -1%;
             border-radius: 0px 0px 40px 40px;
         }
         
    }
}

#videoBG{    
    width: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    @media #{ $xs, $sm, $md}{
        object-fit: contain;
        height: 100%;
        border-radius: 0px 0px 40px 40px;
     }
     @media #{ $lg, $xl, $xxl}{
        height: 100vh;
     }

}


.layout-form-mobile{
    position: relative;
    
}

.mobile-hide{
    @media #{$xs, $sm, $md}{
        display: none;
    }
}
.desktop-hide{
    @media #{$lg, $xl, $xxl}{
        display: none;
    }

}