

.video-box{
    position: relative;
    & .overlay-bg{
        background: rgba(0,0,0, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
}

#videoBG{    
    width: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100vh;
    @media #{$sm}{
        height: 700px
     }
     @media #{$xs-v}{
       height: 700px;
     }
}